*{
    margin: 0;
    padding: 0;
}


body{
    background-color: rgb(188, 242, 188);
}

header{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

h1{
    text-align: center;
}

nav{
    padding: 3px;
    margin: 2px;
    background-color: darkolivegreen;
    border-radius: 30px;
    block-size: 25px ;
    
    
    
}
ul#links{
    margin: 0 auto;
    padding: 0px;
    block-size: inherit;     /*підлаштовує блок до батьківського розміру контейнера*/


    
    display: flex;
    justify-content: space-around;  
    flex-wrap: wrap;
    align-content: space-around;

    list-style: none;
}

#links a{
    color: azure;
    font-size: larger;
    
}
a:hover{
    color: gray;
}





p{
    font-family: sans-serif ;
    font-size: medium;
}



figure{
    min-width: 100px;
    max-width: 400px;

    margin: auto;       /*поміщає блок посередині*/
    padding-bottom: 5px;
    border: 3px dotted white;
}
#img_fox{
    
    inline-size: -webkit-fill-available;
}
figcaption{
    font-family: system-ui;
    font-weight: bolder;
    color: rgb(83, 82, 82);
}




footer p{
    font-family: monospace;
    font-weight: 200;
    background-color: darkolivegreen;
    color: azure;
    text-align: left;
    opacity: 80%;
}