html, body{
    margin: 0px;
    padding: 0px;
    
}
body{
    background-color: rgb(188, 242, 188);
}

header{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

h1{
    text-align: center;
}

nav{
    padding: 5px;
    margin: 2px;
    background-color: darkolivegreen;
    border-radius: 30px;
    block-size: 25px;
    
    
    
}
ul#links{
    margin: 0px;
    padding: 0px;
    block-size: inherit;     /*підлаштовує блок до батьківського розміру контейнера*/


    
    display: flex;
    justify-content: space-around;  
    flex-wrap: wrap;
    align-content: space-around;

    list-style: none;
}

a{
    color: azure;
    
}
a:hover{
    color: gray;
}




#img_fox{
    width: 300px;
    height: 450px;
}




footer{
    
    background-color: darkolivegreen;
    color: azure;
    text-align: left;
    opacity: 80%;
}